@model BookStoreCore.Models.API.CartItem
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Chi Tiết Order";

}

<h1>Chi Tiết Order</h1>
<div class="container">
    <h1 class="text-center">Chi Tiết Order</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông Tin Sản Phẩm</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    Mã Sách:
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MaSach)
                </dd>
                <dt class="col-sm-3">
                    Tên Sách:
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TenSach)
                </dd>
                <dt class="col-sm-3">
                    Ảnh:
                </dt>
                <dd class="col-sm-9">
                    <img src="@Url.Content("~/image/" + Model.Anh)" alt="image" class="img-thumbnail" />
                </dd>
                <dt class="col-sm-3">
                    Số lượng:
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SoLuong)
                </dd>
                <dt class="col-sm-3">
                    Đơn Giá:
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DonGia)
                </dd>
                <dt class="col-sm-3">
                    Thành tiền:
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ThanhTien)
                </dd>
            </dl>
        </div>
    </div>
    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Quay lại Danh Sách</a>
    </div>
</div>
